<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>EchelleSpecialiteWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>EchelleWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FamilleEchelleWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ResultatWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SousFamilleWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SpecialiteWS</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchelleSpecialiteWS</servlet-name>
        <url-pattern>/EchelleSpecialiteWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EchelleWS</servlet-name>
        <url-pattern>/EchelleWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FamilleEchelleWS</servlet-name>
        <url-pattern>/FamilleEchelleWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultatWS</servlet-name>
        <url-pattern>/ResultatWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SousFamilleWS</servlet-name>
        <url-pattern>/SousFamilleWS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialiteWS</servlet-name>
        <url-pattern>/SpecialiteWS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <security-constraint>

        <display-name>Constraint_EchelleSpecialite</display-name>
        <web-resource-collection>
            <web-resource-name>EchelleSpecialiteRsc</web-resource-name>
            <description/>
            <url-pattern>/EchelleSpecialiteWS</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint_Echelle</display-name>
        <web-resource-collection>
            <web-resource-name>EchelleRsc</web-resource-name>
            <description/>
            <url-pattern>/EchelleWS</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint_FamilleEchelle</display-name>
        <web-resource-collection>
            <web-resource-name>FamilleEchelleRsc</web-resource-name>
            <description/>
            <url-pattern>/FamilleEchelleWS</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint_Resultat</display-name>
        <web-resource-collection>
            <web-resource-name>ResultatRsc</web-resource-name>
            <description/>
            <url-pattern>/ResultatWS</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint_SousFamille</display-name>
        <web-resource-collection>
            <web-resource-name>SousFamilleRsc</web-resource-name>
            <description/>
            <url-pattern>/SousFamilleWS</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Constraint_Specialite</display-name>
        <web-resource-collection>
            <web-resource-name>SpecialiteRsc</web-resource-name>
            <description/>
            <url-pattern>/SpecialiteWS</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>tomcat</role-name>
        </auth-constraint>
    </security-constraint>-->
    <security-role>
        <description>role tomcat</description>
        <role-name>tomcat</role-name>
    </security-role>
</web-app>
